#layout{
  background-color: #2b2b2b;

    .layout-section{
      color: #fefefe;
      display: flex;

      
      .layout-shorts{
        flex: 1;
        color: #fefefe;
        
      }
    }
 
  }


  